fieldset{
    border: 1px solid black;
    border-radius: 7px 7px 7px 7px;
    font-size: 150%;
    color:#524c56;
}
input.boton{
    border: 1px solid black;
    padding: 10px 10px;
    padding-bottom: 35px;
    background-color: cornflowerblue;
    height: 30px;
    float: right;
    font-size: 1.3em;
    text-align: center;
}
.nrs{
    margin-top: 60px;
}
input{
    height: 25px;
    border-radius: 7px 7px 7px 7px;
    background:rgb(209, 209, 209);
}

textarea{
    height: 60px;
    width: 250px;
    background:rgb(209, 209, 209);
    border-radius: 7px 7px 7px 7px;
}